.side-bar
  .header
    %p.header__user-name ユーザー1
    %ul.header__menu
      %li.header__menu__new-group
        =link_to "#", class: "header__menu__btn" do
          = fa_icon 'edit'
      %li.header__menu__edit-user
        =link_to "#", class: "header__menu__btn" do
          = fa_icon 'cog'
  .groups
    =link_to "#", class: "groups__btn" do
      .group 
        %p.group__name グループ1
        %p.group__message こんにちは
    =link_to "#", class: "groups__btn" do
      .group
        %p.group__name グループ2
        %p.group__message まだメッセージがありません