.chat
  .header
    .left-header
      %h2.left-header__title グループ1
      %p.left-header__member メンバー
    =link_to "#", class: "right-header" do 
      .right-header__button Edit
  .messages
    .message
      .upper-message
        %p.upper-messageme__username ユーザー1
        %p.upper-messageme__date 2019/11/05(tue) 18:45:55
      .lower-message
        %p.message__content こんにちは

  .form
    %input.form__message{name: "message", placeholder: "type a message", type: "text"}/
    %label.form__mask{for: "message_image"}
      %i.fa.fa-image
      %input#message_image.form__mask__image{name: "message", type: "file", class:"hidden"}/
    %input.form__submit{name: "commit", type: "submit", value: "Send"}/



 


